body {
  color: #6b206a;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(
    135deg,
    rgb(252, 207, 49) 10%,
    rgb(245, 85, 85) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #c75080;
  text-decoration: none;
}

.main-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  margin: 50px auto;
}
.main-container {
  max-width: 80%;
  height: auto;
  margin: 30px auto;
  padding: 40px auto;
}

header {
  font-size: 50px;
  font-weight: 700;
  text-shadow: -3px 2px 3px rgba(107, 32, 106, 0.5);
}

h2 {
  font-size: 20px;
  font-weight: 300;
  text-shadow: -3px 2px 3px rgba(107, 32, 106, 0.15);
}

form {
  padding: 20px;
  border-radius: 5px;
  max-width: 100%;
  display: flex;
  margin: auto;
}

#text-input {
  padding: 16px;
  border: 3px solid rgba(255, 234, 102, 0.8);
  width: 100%;
  font-size: 14px;
  border-radius: 50px;
  line-height: 20px;
}

#submit-button {
  margin-left: 5px;
  background-color: #c75080;
  font-size: 14px;
  box-shadow: -3px 2px 3px rgba(107, 32, 106, 0.1);
  color: #ffea66;
  border: none;
  width: 150px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  background-color: rgba(107, 32, 106, 0.8);
  color: #ffea66;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: auto;
  max-width: 80%;
  height: 80%;
  padding: 30px 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  font-size: 14px;
  opacity: 75%;
}
